* {
	box-sizing: border-box;
}
@font-face {
	font-family: 'Magic School One';
	src: url(//db.onlinewebfonts.com/t/8be900c38258bd8a911278548e03ffac.eot);
	src: url(//db.onlinewebfonts.com/t/8be900c38258bd8a911278548e03ffac.eot?#iefix) format('embedded-opentype'),
		url(//db.onlinewebfonts.com/t/8be900c38258bd8a911278548e03ffac.woff2) format('woff2'),
		url(//db.onlinewebfonts.com/t/8be900c38258bd8a911278548e03ffac.woff) format('woff'),
		url(//db.onlinewebfonts.com/t/8be900c38258bd8a911278548e03ffac.ttf) format('truetype'),
		url('//db.onlinewebfonts.com/t/8be900c38258bd8a911278548e03ffac.svg#Magic School One') format('svg');
}
.template {
	display: none;
}
body {
	background: #88b9e4;
}
#container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	max-height: 88vh;
	overflow-y: scroll;
	background: bisque;
}
#container::-webkit-scrollbar{
    display: none;
}
#container img {
	width: 300px;
	height: 500px;
}
.card-shell {
	width: 300px;
	height: 500px;
	border: 4px solid bisque;
	border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
	background: url(cards/card-background.png) center center no-repeat;
}
.card-upper-info {
	height: 10%;
	padding: 5px;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.card-type {
	width: 20%;
	height: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: center;
}
.card-type img {
	width: 24px;
	height: 24px;
	max-width: 24px;
	max-height: 24px;
	min-width: 24px;
	min-height: 24px;
}
.card-name {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	font-family: 'Magic School One';
}
.card-image {
	width: 100%;
	height: 65%;
}
.card-image img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
}
.card-lower-info {
	height: 10%;
	padding: 5px;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.card-lower-info div {
	display: flex;
	align-items: center;
	text-align: center;
	color: #fff;
	justify-content: space-around;
}
.card-lower-info .card-attack {
	width: 45px;
	height: 45px;
	background: url(icons/sword.png) center center no-repeat;
	background-size: 100% 100%;
	font-weight: 900;
}
.card-lower-info .card-health {
	width: 45px;
	height: 45px;
	background: url(icons/hp.png) center center no-repeat;
	background-size: 100% 100%;
}
.card-lower-info .card-defence {
	width: 45px;
	height: 45px;
	background: url(icons/shield.png) center center no-repeat;
	background-size: 100% 100%;
}
.card-description {
	border: 1px solid #000;
	background-color: rgba(90, 2, 4, 0.493);
	color: #f5f5f5;
	height: 15%;
	padding: 10px;
}
#btnAddCardType {
	display: inline-block;
}
#btnSaveAttribute {
	display: inline-block;
}
.card-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 150px;
	margin-right: 45px;
}
.card-form div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 150px;
	margin-bottom: 5px;
}
.card-form div input {
	padding: 5px;
	border-radius: 1px;
}
.card-form div select {
	padding: 5px;
	border-radius: 1px;
}
.card-form button {
	padding: 5px 1px;
	border-radius: 5px;
	background-color: #000;
	color: #f0f8ff;
	width: 100px;
	margin: 5px auto;
}
.card-form button:hover {
	color: #000;
	background-color: #f0f8ff;
}
.card-form input[type='button'] {
	padding: 6px 1px;
	border-radius: 5px;
	background-color: #499b4d;
	color: #f0f8ff;
}
.card-form input[type='button']:hover {
	background-color: rgba(73, 155, 77, 0.8);
	color: #f0f8ff;
}
.form-container {
	display: flex;
}
.title {
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	font-family: 'Magic School One';
}
